/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  font-weight: bold;
  color: green;
}

.story-user {
  font-weight: bold;
  color: rgb(221, 144, 2);
}

.fa-trash-can {
  color: #ff6600;
}

.button-right {
  margin-right: 10px;
  text-align: right;
}

.story-fav {
  margin: 5px;
}

.story-edit {
  font-weight: bold;
  color: rgb(0, 0, 200);
  margin: 5px;
}

.story-input > input {
  width: 80%;
}